*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Poppins";
  font-weight: 400;
  src: url("../fonts/poppins/Poppins-Regular.ttf");
}
@font-face {
  font-family: "Poppins";
  font-weight: 500;
  src: url("../fonts/poppins/Poppins-Medium.ttf");
}
@font-face {
  font-family: "Poppins";
  font-weight: 600;
  src: url("../fonts/poppins/Poppins-SemiBold.ttf");
}
@font-face {
  font-family: "Poppins";
  font-weight: 700;
  src: url("../fonts/poppins/Poppins-Bold.ttf");
}
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family: "Poppins";
}

a:hover {
  color: #fa5652 !important;
}

h1 {
  font-weight: 700;
  font-size: 5.2rem;
  line-height: 7.2rem;
  color: #035755;
}

h2 {
  font-weight: 500;
  font-size: 4.7rem;
  line-height: 6.9rem;
  color: #035755;
}

h3 {
  font-weight: 600;
  font-size: 2.9rem;
  line-height: 3.5rem;
  color: #035755;
}

h4 {
  font-weight: 700;
  font-size: 2.9rem;
  line-height: 3.5rem;
  color: #fa5652;
}

p {
  font-weight: 400;
  font-size: 2rem;
  line-height: 4rem;
  color: #4b4f51;
}

.btn-green {
  padding: 2rem 5rem;
  background: #035755;
  color: #ffffff;
  font-weight: 500;
  font-size: 2rem;
}
.btn-green:hover {
  position: relative;
  top: 10px;
  left: 10px;
  background: #035755;
  color: #ffffff;
}

.btn-top button {
  font-weight: 400;
  font-size: 2rem;
  color: #4b4f51;
  padding: 1rem 2rem;
  border: none;
  margin-left: auto;
}
.btn-top button:hover {
  color: #fa5652;
  border: none;
}

section {
  padding: 10px;
}

.navbar-brand {
  font-size: 2.5rem;
  font-weight: 500;
  color: #035755;
}

.nav-link {
  font-size: 2rem;
  color: #035755 !important;
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

section {
  padding-top: 20rem;
}

#hero {
  background-image: url("../img/koin.svg");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-body {
  padding: 5rem 0 15rem;
}

.js-scroll {
  opacity: 0;
  transition: opacity 500ms;
}

.js-scroll.scrolled {
  opacity: 1;
}

.scrolled.slide-left {
  -webkit-animation: slide-in-left 1s ease-in-out both;
          animation: slide-in-left 1s ease-in-out both;
}

.scrolled.slide-right {
  -webkit-animation: slide-in-right 1s ease-in-out both;
          animation: slide-in-right 1s ease-in-out both;
}

.scrolled.slide-bottom {
  -webkit-animation: slide-in-bottom 1s ease-in-out both;
          animation: slide-in-bottom 1s ease-in-out both;
}

@-webkit-keyframes slide-in-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes slide-in-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes slide-in-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@media (max-width: 1024px) {
  html {
    font-size: 40%;
  }
  section {
    padding-top: 10rem;
  }
  #hero {
    background-image: none;
  }
  nav {
    padding: 0 10px !important;
    height: 50px;
  }
  .navbar {
    padding-top: 0 !important;
  }
  .nav-item:not(:last-child) {
    margin-right: 0;
  }
  .nav-link {
    font-size: 2.9rem;
    line-height: 3.5rem;
    margin-bottom: 20px;
  }
  .hero-body {
    padding: 5rem 0 0;
  }
  section {
    text-align: center;
  }
  .offcanvas {
    width: 80% !important;
  }
}
.hori-timeline .events {
  border-top: 3px solid #e9ecef;
}

.hori-timeline .events .event-list {
  display: block;
  position: relative;
  text-align: center;
  padding-top: 45px;
  margin-right: 0;
}

.hori-timeline .events .event-list:before {
  content: "";
  position: absolute;
  height: 36px;
  border-right: 2px dashed #dee2e6;
  top: 0;
}

.hori-timeline .events .event-list .event-date {
  position: absolute;
  top: 38px;
  left: 0;
  right: 0;
  width: 75px;
  margin: 0 auto;
  border-radius: 4px;
  padding: 2px 4px;
}

@media (min-width: 1140px) {
  .hori-timeline .events .event-list {
    display: inline-block;
    width: 24%;
    padding-top: 45px;
  }
  .hori-timeline .events .event-list .event-date {
    top: -12px;
  }
}
.bg-soft-primary {
  background-color: rgba(64, 144, 203, 0.3) !important;
}

.bg-soft-success {
  background-color: rgba(71, 189, 154, 0.3) !important;
}

.bg-soft-danger {
  background-color: rgba(231, 76, 94, 0.3) !important;
}

.bg-soft-warning {
  background-color: rgba(249, 213, 112, 0.3) !important;
}

.card {
  border: none;
  margin-bottom: 24px;
}